<div class="bck">
	<div class="masthead responsive-image">
		<header class="entry-header">
			<h1 class="entry-title">Welcome to WokLearner!</h1>
			<h2 class="entry-subtitle"><a routerLink="/register" routerLinkActive="active">Register</a> and start learning!</h2> </header>
	</div>
</div>
<div class="info">
	<div class="about-section">
		<h1>About WokLearner</h1>
		<div class="about-item"> <i class="far fa-image"></i>
			<h2>See gallery</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet mollis libero. Ut a sagittis ex. Nam vitae pretium quam.</p>
		</div>
		<div class="about-item"> <i class="fas fa-graduation-cap"></i>
			<h2>Learn</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet mollis libero. Ut a sagittis ex. Nam vitae pretium quam.</p>
		</div>
		<div class="about-item"> <i class="fas fa-users"></i>
			<h2>Compete</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet mollis libero. Ut a sagittis ex. Nam vitae pretium quam.</p>
		</div>
	</div>
	<div class="warning">
		<h3>Warning!</h3>
		<p>Application due to size of paintings may use significant amount of internet data! If possible use it via unlimited connection (especially wifi).</p>
	</div>
</div>