<div class="bck">
  <div class="masthead responsive-image">
    <header class="entry-header">
      <h1 class="entry-title">Witaj w  WokLearnerze!</h1>
      <h2 class="entry-subtitle"><a routerLink="/register" routerLinkActive="active">Zarejestruj się</a> i zacznij się uczyć!</h2> </header>
  </div>
</div>
<div class="info">
  <div class="about-section">
    <h1>O WokLearnerze</h1>
    <div class="about-item"> <i class="far fa-image"></i>
      <h2>Sprawdź galerię</h2>
      <p>Wygodnie przeglądaj wszytkie obrazy.</p>
    </div>
    <div class="about-item"> <i class="fas fa-graduation-cap"></i>
      <h2>Ucz się</h2>
      <p>Przyśpiesz i ułatw swoją naukę.</p>
    </div>
    <div class="about-item"> <i class="fas fa-users"></i>
      <h2>Podziel się</h2>
      <p>Podziel się informacją o tej stronie z innymi!</p>
    </div>
  </div>
  <div class="warning">
    <h3>Uwaga!</h3>
    <p>Z uwagi na ilość i wagę obrazów strona może zużywać znaczące ilości internetu! Z tego powodu radzę korzystać z niej za pomocą nieograniczonego łącza (wifi lub nielimitowyny internet).</p>
  </div>
</div>
