<div class="cont">
  <h1>Czas na naukę!</h1>
  <img *ngIf="this.painting" [src]="getUrl(this.painting)"/>
  <div class="select">
    <select *ngIf="this.styles" [(ngModel)]="selectedStyle">
      <option [value]="null">Wybierz styl</option>
      <option *ngFor="let style of styles" [value]="style">{{style}}</option>
    </select>
    <select *ngIf="this.authors" [(ngModel)]="selectedAuthor">
      <option [value]="null">Wybierz autora</option>
      <option *ngFor="let author of authors" [value]="author">{{author}}</option>
    </select>
    <button (click)="Answer()" [disabled]="selectedAuthor===null || selectedStyle===null">Sprawdź</button>
  </div>
  <div class="popup" id="popup" style="display:none;">
    <div class="popup-inner">
      <h2 id="title">{{popUpTitle}}</h2>
      <h3 id="subtitle">Informacje o obrazie</h3>
      <p id="painting-info">{{popUpContent}}</p>
      <input (click)="Close()" class="sml-close-button" name="Close" type="button" value="Next painting">
    </div>
  </div>
  <div class="overlay" id="overlay" style="display:none;"></div>
</div>
