.cont {
  min-height: 100%;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 50px 0;
}
img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 300px;
  height: 350px;

  @media screen and (min-width: 600px) {

    width: 500px;
    height: 600px;

  }

  @media screen and (min-width: 1000px) {

    width: 600px;
    height: 600px;

  }
}


button {
  width: 80%;
  height: 45px;
  border: none;
  font-size: 17px;
  font-weight: lighter;
  margin: 70px auto 50px auto;
  display: block;
  color: #fff;
  cursor: pointer;
  background: #5389ad;
  transition: background 0.4s ease;
  &:hover {
    background: rgb(108, 152, 234);
  }

  @media screen and (min-width: 600px) {
    width: 50%;
  }


  @media screen and (min-width: 1000px) {
    max-width: 300px;
    width: 25%;

  }
}

.select {
  text-align:center
}

select {
  display: block;
  width: 70%;
  margin: 40px auto 20px auto;
  padding: 10px 0;
  outline: none;


  @media screen and (min-width: 600px) {
    display: inline;
    margin: 40px 20px 20px 20px;
    width: 50%;
  }


  @media screen and (min-width: 1000px) {
    max-width: 400px;
    width: 25%;

  }

}


.popup{
  background:rgb(42, 42, 42);
  position:fixed;
  border: 2px solid white;
  z-index:101;
  width:500px;
  height:300px;
  top:50%;
  left:50%;
  margin-left:-250px;
  margin-top:-150px;

  @media(max-width:768px){
    position:absolute;
    top: 50%;
    left: 10%;
    width: 70%;
    margin:auto 5%;
  }

  .popup-inner{
    position:relative;
    padding:1em;
    text-align: center;

    input.sml-close-button{
      width: 80%;
      height: 45px;
      border: none;
      font-size: 17px;
      font-weight: lighter;
      margin: 100px auto 50px auto;
      display: block;
      color: #fff;
      cursor: pointer;
      background: #5389ad;
      transition: background 0.4s ease;
      &:hover {
        background: rgb(108, 152, 234);
      }

      @media screen and (min-width: 600px) {
        width: 50%;
      }


      @media screen and (min-width: 1000px) {
        width: 35%;

      }
    }
  }
}

h2 {
  color: red;
}


input.sml-close{
  background:#f1f1f1;
  border:none;
  width:200px;
  height:50px;
  cursor:pointer;

  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
}

.s3-center{
  text-align:center;
}
