body {
  background-color: #202125;
}

.heading {
  text-align: center;
  font-size: 42px;
  letter-spacing: 1px;
  padding: 30px;
}

.gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  img {
    height: 350px;
    width: 400px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
  }
}

.img-box {
  display: inline-block;
  position: relative;
  box-sizing: content-box;
  margin: 10px;
  height: 350px;
  width: 400px;
  overflow: hidden;
  background-color: white;

  &:hover {
    cursor: pointer;

    img {
      transform: scale(1.1);
    }

    .transparent-box {
      background-color: rgba(0, 0, 0, 0.8);
    }

    .caption {
      transform: translateY(-20px);
      opacity: 1.0;
    }
  }
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 1.0;
  transition: transform 0.2s ease, opacity 0.2s ease;

  > p {
    margin: 10px;
  }

  .title {
    font-size: 1.4em;
  }
}

.transparent-box {
  height: 350px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
}

.select {
  text-align: center
}

select {
  display: block;
  width: 70%;
  margin: 40px auto 20px auto;
  padding: 10px 0;
  outline: none;


  @media screen and (min-width: 600px) {
    display: inline;
    margin: 40px 20px 20px 20px;
    width: 50%;
  }


  @media screen and (min-width: 1000px) {
    max-width: 400px;
    width: 25%;

  }

}

button {
  width: 80%;
  height: 45px;
  border: none;
  font-size: 17px;
  font-weight: lighter;
  margin: 70px auto 50px auto;
  display: block;
  color: #fff;
  cursor: pointer;
  background: #5389ad;
  transition: background 0.4s ease;

  &:hover {
    background: rgb(108, 152, 234);
  }

  @media screen and (min-width: 600px) {
    width: 50%;
  }


  @media screen and (min-width: 1000px) {
    max-width: 300px;
    width: 25%;

  }
}
