<div class="container">
  <div class="form">
    <h1>Register</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <div class="input-field">
        <input class="username" formControlName="username" pattern="\S+.*" placeholder=" " required type="text"/>
        <span class="bar"></span>
        <label>Username</label>
      </div>
      <div class="input-field">
        <input class="password" formControlName="password" pattern="\S+.*" placeholder=" " required type="password"/>
        <span class="bar"></span>
        <label>Password</label>
      </div>
      <button class="submit" type="submit">Register</button>
    </form>
  </div>
</div>
