<div class="container">
  <div class="form">
    <h1>Zaloguj się</h1>
    <form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div class="input-field">
        <input class="username" formControlName="username" pattern="\S+.*" placeholder=" " required required
               type="text"/>
        <span class="bar"></span>
        <label>Nazwa użytkownika</label>
      </div>
      <div class="input-field">
        <input class="password" formControlName="password" pattern="\S+.*" placeholder=" " required required
               type="password"/>
        <span class="bar"></span>
        <label>Hasło</label>
      </div>
      <button [disabled]="!f.valid" class="submit" type="submit">Zaloguj się</button>
    </form>
  </div>
</div>
