/* You can add global styles to this file, and also import other style files */
html {
  background: rgb(42, 42, 42);
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
}
